@using System.Security.Claims
@model IEnumerable<MessageModel>


<div class="container p-0">
    @if (Model.First().RecipientId == User.FindFirstValue(ClaimTypes.NameIdentifier))
    {
    <input id="senderId" type="hidden" value="@Model.First().SenderId" />
    }
    else
    {
        <input id="senderId" type="hidden" value="@Model.First().RecipientId" />
    }
    
    <div class="col-12 col-lg-7 col-xl-9">
        <div class="py-2 px-4 border-bottom d-none d-lg-block">
            <div class="d-flex align-items-center py-1">
                <div class="position-relative">
                    <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
                </div>
                <div class="flex-grow-1 pl-3">
                    Chatting with:
                    @if (Model.First().RecipientId == User.FindFirstValue(ClaimTypes.NameIdentifier))
                    {
                        <strong>@Model.First().SenderName</strong>
                    }
                    else
                    {
                        <strong>@Model.First().RecipientName</strong>
                    }
                    
                </div>
               
            </div>
        </div>

        <div class="position-relative">
            <div class="chat-messages p-4">
                @foreach (var msg in Model)
                {
                    if (msg.Content != null)
                    {
                        if (msg.SenderId == User.FindFirstValue(ClaimTypes.NameIdentifier))
                        {
                            <div class="chat-message-right pb-4">
                                <div>
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
                                    <div class="text-muted small text-nowrap mt-2">@msg.CreatedOn.ToShortTimeString()</div>
                                </div>
                                <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                                    <div class="font-weight-bold mb-1">@msg.SenderName</div>
                                    @msg.Content
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="chat-message-left pb-4">
                                <div>
                                    <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
                                    <div class="text-muted small text-nowrap mt-2">@msg.CreatedOn.ToShortTimeString()</div>
                                </div>
                                <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                                    
                                    <div class="font-weight-bold mb-1">@msg.SenderName</div>
                                    @msg.Content
                                </div>
                            </div>

                        }
                    }
                    

                }




            </div>
        </div>

        <div class="flex-grow-0 py-3 px-4 border-top">
            <div class="input-group">
                <input id="messageBox" type="text" class="form-control" placeholder="Type your message">
                <button id="sendBtn" class="btn btn-primary">Send</button>
            </div>
        </div>

    </div>
</div>



<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>