@using System.Security.Claims
@model ChatModel


<div class="container p-0">

    <input id="senderId" type="hidden" value="@Model.CurrentUserId" />
    <input id="recipient-id" type="hidden" value="@Model.RecipientId" />

    <div class="col-12 col-lg-7 col-xl-9">
        <div class="py-2 px-4 border-bottom d-none d-lg-block">
            <div class="d-flex align-items-center py-1">
                <div class="position-relative">
                    <img src="@Model.RecipientProfileImageUrl" class="rounded-circle mr-1" alt="@Model.RecipientName" width="40" height="40">
                </div>
                <div class="flex-grow-1 pl-3">
                    Chatting with:
                    <strong></strong>

                    <strong>@Model.RecipientName</strong>

                </div>

            </div>
        </div>

        <div class="position-relative">
            <div class="chat-messages p-4">
                @if (Model.Messages == null)
                {

                }
                else
                {
                    @foreach (var msg in Model.Messages)
                    {

                        if (msg.AuthorId == User.FindFirstValue(ClaimTypes.NameIdentifier))
                        {
                            <div class="chat-message-right pb-4">
                                <div>
                                    <img src="@Model.CurrentUserProfileImageUrl" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
                                    <div class="text-muted small text-nowrap mt-2">@msg.CreatedOn.ToLocalTime().ToShortTimeString()</div>
                                </div>
                                <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                                    <div class="font-weight-bold mb-1">@Model.CurrentUserName</div>
                                    @msg.Content
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="chat-message-left pb-4">
                                <div>
                                    <img src="@Model.RecipientProfileImageUrl" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
                                    <div class="text-muted small text-nowrap mt-2">@msg.CreatedOn.ToLocalTime().ToShortTimeString()</div>
                                </div>
                                <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">

                                    <div class="font-weight-bold mb-1">@Model.RecipientName</div>
                                    @msg.Content
                                </div>
                            </div>

                        }



                    }
                }





            </div>
        </div>

        <div class="flex-grow-0 py-3 px-4 border-top">
            <div class="input-group">
                <input id="messageBox" type="text" class="form-control" placeholder="Type your message">
                <button id="sendBtn" class="btn btn-primary">Send</button>
            </div>
        </div>

    </div>
</div>



<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>