@model PetBrowseModel

<div class="py-5">

    <div class="container">
        <div class="row hidden-md-up">
            @if (Model.Pets.Count() == 0)
            {
                <h2 class="align-content-center">No Pets added yet!</h2>
            }
            @foreach (var pet in Model.Pets)
            {
                <div class="col-md-4 pb-4">
                    <div class="team-item">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid w-100" style="height:30vh" src="@pet.Images[0].Url" alt="pet-image">
                            <div class="team-overlay">
                                <div class="d-flex align-items-center justify-content-start">
                                    <a class="btn btn-light btn-square mx-1" asp-controller="Pet" asp-action="Details" asp-route-id="@pet.Id"><i class="bi bi-twitter"></i></a>
                                    <a onclick="addLike(event)" class="btn btn-light btn-square mx-1" id="@pet.Id" ><i class="bi bi-facebook"></i></a>
                                    <a class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="bg-light text-center p-4">
                            <h5 class="text-uppercase">@pet.Name</h5>
                            <h5 class="text-uppercase fw-bold">@(pet.IsMale ? Html.Raw("&#9794 Boy") : Html.Raw("&#9792 Girl"))</h5>
                            <p class="m-0">Owner: @pet.Owner</p>
                        </div>
                    </div>
                </div>
            }
        </div><br>
    </div>
    <div class="d-inline-flex" style="position:relative;left:45% ">
        @if (Model.Pets.Count() < 6)
        {
            <button id="prev" onclick="changePage(event)" style="margin-inline:50px">&laquo;</button>
            <div><h4 id="page-number">@Model.Page</h4></div>
            <button id="next" disabled style="margin-inline:50px">&raquo;</button>
        }
        else if(Model.Page == 1)
        {
            <button id="prev" disabled style="margin-inline:50px">&laquo;</button>
            <div><h4 id="page-number">@Model.Page</h4></div>
            <button id="next" onclick="changePage(event)" style="margin-inline:50px">&raquo;</button>
        }
        else
        { 
            <button id="prev" onclick="changePage(event)" style="margin-inline:50px">&laquo;</button>
            <div><h4 id="page-number">@Model.Page</h4></div>
            <button id="next" onclick="changePage(event)" style="margin-inline:50px">&raquo;</button>
        }
       
       
    </div>
    
</div>


@section Scripts{
    @*<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>*@
    }