@model PetBrowseModel

<div class="py-5">

    <div class="container">


        <div class="w-100 text-center pb-3">

            <form asp-controller="Pet" asp-action="Search">
                <div class="bg-white">
                    <span class="text-danger" asp-validation-for="Criteria"></span>
                    <span asp-validation-for="Search" class="text-danger"></span>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <select onchange="populateSearchField(event)" asp-for="Criteria">
                    <option selected="" disabled hidden>Search By</option>
                    <option value="breed">Breed</option>
                    <option value="size">Size</option>
                    <option value="ownerName">Owner Name</option>
                </select>

                <input id="search-box" aria-required="true" asp-for="Search" type="text" />
                <select id="alt-search" hidden>
                    <option selected="" disabled hidden>Choose size</option>
                    <option value="Toy">Toy</option>
                    <option value="Small">Small</option>
                    <option value="Medium">Medium</option>
                    <option value="Large">Large</option>
                    <option value="Giant">Giant</option>
                </select>
                <button type="submit" class="btn-success">Search</button>
            </form>
        </div>

        <div class="row hidden-md-up">

            @if (Model.Pets.Count() == 0)
            {
                if (Model.IsSearch)
                {
                    <h2 class="align-content-center">Your search did not return any results!</h2>
                }
                else
                {
                    <h2 class="align-content-center">No Pets added yet!</h2>
                }

            }
            @foreach (var pet in Model.Pets)
            {
                <div class="col-md-4 pb-4">
                    <div class="team-item">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid w-100" style="height:30vh" src="@pet.Images[0].Url" alt="pet-image">
                            <div class="team-overlay">
                                <div class="d-flex align-items-center justify-content-start">
                                    <a class="btn btn-light btn-square mx-1" asp-controller="Pet" asp-action="Details" asp-route-id="@pet.Id"><div class="bi bi-search"></div></a>
                                    @if (pet.CanLike)
                                    {
                                        <button onclick="addLike(event)" class="btn btn-light btn-square mx-1" id="@pet.Id"><div class="bi bi-heart"><div class="badge bg-success float-right">@pet.Likes</div></div></button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-light btn-square mx-1" disabled id="@pet.Id"><div class="bi bi-heart-fill"><div class="badge bg-success float-right">@pet.Likes</div></div></button>
                                    }

                                    <button class="btn btn-light btn-square mx-1" href="#"><i class="bi bi-linkedin"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="bg-light text-center p-4">
                            <h5 class="text-uppercase">@pet.Name</h5>
                            <h5 class="text-uppercase fw-bold">@(pet.IsMale ? Html.Raw("&#9794 Boy") : Html.Raw("&#9792 Girl"))</h5>
                            <p class="m-0">Owner: @pet.Owner</p>
                        </div>
                    </div>
                </div>
            }
        </div><br>
    </div>
    <div class="d-inline-flex" style="position:relative;left:45% ">
        @if (Model.Pets.Count() < 6)
        {
            if (Model.IsSearch)
            {
                <button id="prev" disabled style="margin-inline:50px">&laquo;</button>
            }
            else
            {
                <button id="prev" onclick="changePage(event)" style="margin-inline:50px">&laquo;</button>
            }

            <div><h4 id="page-number">@Model.Page</h4></div>
            <button id="next" disabled style="margin-inline:50px">&raquo;</button>
        }
        else if (Model.Page == 1)
        {
            <button id="prev" disabled style="margin-inline:50px">&laquo;</button>
            <div><h4 id="page-number">@Model.Page</h4></div>
            <button id="next" onclick="changePage(event)" style="margin-inline:50px">&raquo;</button>
        }
        else
        {
            <button id="prev" onclick="changePage(event)" style="margin-inline:50px">&laquo;</button>
            <div><h4 id="page-number">@Model.Page</h4></div>
            <button id="next" onclick="changePage(event)" style="margin-inline:50px">&raquo;</button>
        }


    </div>

</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}